@font-face {
    font-family: 'Pally-blod';
    src: url('/fonts/Pally-Bold.woff2') format('woff2');
    font-weight: 700; /* Valores válidos: normal (400), bold (700), etc. */
    font-style: normal; /* Usa valores válidos: normal, italic */
}
@font-face {
    font-family: 'Pally-medium';
    src: url('/fonts/Pally-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style:  normal;
}
@font-face {
    font-family: 'Pally-regular';
    src: url('/fonts/Pally-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* Style imgen banner */
.container-img-noticia{
    margin-top: 106px;
    position: relative;
    display: flex;
}

.image-noticia{
    position: relative;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    overflow: hidden; /* Esconde las partes de la imagen que se salen del contenedor */
    height: 650px; /* Ajusta la altura del contenedor según sea necesario */
}
.image-noticia::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 50%, transparent 70%);
    z-index: 1;
    pointer-events: none; /* Permite clics a través del overlay */
}

.img-not {
    width: 100%;
    height: 100%; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Corta la imagen para llenar el contenedor sin deformarse */
    object-position: center; /* Centra la imagen */
    opacity: 1;
    transition: opacity 1s ease-in-out;
  
}


@media (max-width: 900px) {
    .img-not {
        /* Opciones de centrado: */
        object-position: 60% center; /* Completamente centrada */
        /* object-position: center top; /* Centrada horizontalmente, arriba verticalmente */
        /* object-position: center 30%; /* Centrada horizontalmente, 30% desde arriba */
        /* object-position: 50% 50%; /* Equivale a center center */
    }
}
.texto-foto-noticia{
    z-index: 2;
    font-family: 'Pally-regular', sans-serif;
    position: absolute; /* Asegura que el texto esté en la posición deseada */
    color: white; /* Opcional: para que el texto sea visible sobre las imágenes */
    font-size: 27px;
    width: 100%; /* Usa todo el ancho disponible */
    max-width: 1800px; /* Pero no más de 1200px */    
    height: 100%;
    left: 50%; /* Mueve al centro */
    transform: translateX(-50%); /* Centra exactamente */
}


.texto-titulo-noticia-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Alinea a la izquierda pero permite mover con padding */
    height: 100%; /* Asegura que ocupe toda la altura del contenedor padre */
    padding-left: 200px; /* Mueve el texto hacia la derecha */
    padding-right: 50px; /* Espacio del lado derecho */
}

.fecha-noticia {
    color: white;
    font-size: 20px;
    font-family: 'Pally-regular', sans-serif;

    background-color: #FABA1A;
    padding: 5px 20px;
    border-radius: 20px;
}

.info-img-noticias {
    font-family: 'Pally-medium', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}	



/* ------------------ */
.fecha-autor {
    color: gray;
    line-height: 0.5;
    font-size: 23px;
}

.contenido-noticia {
    width: 70rem;
    margin: 40px auto;
    padding: 20px;
    text-align: left;
    font-size: 27px;
    /*line-height: 1.7;*/

}

@media(max-width: 1725px) {
    .contenido-noticia {
        width: 90%;
    }
    
    .texto-titulo-noticia-container{
        padding-left: 100px; /* Mueve el texto hacia la derecha */
        padding-right: 50px; /* Espacio del lado derecho */

    }
        
}

@media(max-width: 818px) {

    .info-img-noticias {
        font-size: 35px;

    }

    .contenido-noticia {
        width: 90%;
    }
    .texto-titulo-noticia-container {
        padding-left: 50px; /* Mueve el texto hacia la derecha */
        padding-right: 20px; /* Espacio del lado derecho */
    }
}
    
@media(max-width: 620px) {
    .container-img-noticia{
        margin-top: 70px;
    }

}

.descripcion-noticia{
    font-family: "Pally-regular", sans-serif;
    font-size: 23px;
}

.imagen-noticia {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}
.imagen3-noticia-container, .imagen2-noticia-container  {
    width: 99%;
    text-align: center;
}

.imagen3-noticia, .imagen2-noticia {
    width: 70%;
    border-radius: 10px;
}

.titulo-noticia-container{
    margin-top: -30px;
    margin-bottom: -70px;
}


.titulo-noticia-descripcion{
    font-family: 'Pally-blod', sans-serif;
    font-size: 54px;
    padding-left: 60px;
}

@media(max-width: 620px) {
    .titulo-noticia-container{
    margin-top: -10px;
    margin-bottom: -40px;
    }
    .titulo-noticia-descripcion{
        font-size: 30px;
        padding-left: 0;
        text-align: center;
    }
}

.texto-bold{
    font-family: 'Pally-blod', sans-serif;
    font-size: 40px;
    color: #333;
}

.barra-lateral-noticia{
    background-color: #09A6DF;
    margin: 0 auto;
    width: 85%;
    height: 8px;

    border-radius: 20px;
}

.social-icons-noticia {
  display: flex;
  width: auto;
  height: 100%;
  gap: 10px;
  margin-left: auto; /* Ajusta el valor según el espacio que desees */

}
.icon-noticia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Hace el fondo circular */
  background-color: #333; /* Fondo blanco */
  color: #fff; /* Color del icono */
  font-size: 20px; /* Tamaño del icono */
  text-decoration: none;
  transition: all 0.3s ease;

}
.icon-noticia:hover {
  background-color: #fff; /* Fondo al pasar el mouse (azul) */
  color: #333; /* Icono blanco al pasar el mouse */
}

