@font-face {
  font-family: 'Pally-blod';
  src: url('/fonts/Pally-Bold.woff2') format('woff2');
  font-weight: 700; /* Valores válidos: normal (400), bold (700), etc. */
  font-style: normal; /* Usa valores válidos: normal, italic */
}

@font-face {
  font-family: 'Pally-medium';
  src: url('/fonts/Pally-Medium.woff2') format('woff2');
  font-weight: regular;
  font-style: regular; 
}

@font-face {
  font-family: 'Pally-regular';
  src: url('/fonts/Pally-Regular.woff2') format('woff2');
  font-weight: light;
  font-style: light; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el cuerpo ocupe toda la altura de la ventana */

}

footer{
  background-color: #272727;
  color: white;
  text-align: center;
  padding: 4%;
  font-family: "Pally-medium", sans-serif;
  margin-top: -1%;
}
.footer-total{
  width: 110rem;
  margin: 0 auto; /* Centra el div horizontalmente */
}

.footer-parte1{
  display: flex;
  gap: 3%; /* Espacio entre los botones */
}
.footer-logo-container{
  margin-left: 4%;
}
.footer-logo{
  width:350.58px;
  height: auto; /* Ajusta la altura del contenedor del logo */
}
.footer-buttons{
  font-size: 16.5px; /* Ajusta el tamaño del texto de los botones */
  display:flex;
  width: 49.3%;
  color: black;
  background-color: white;
  gap: 5%; /* Espacio entre los botones */
  justify-content: center; /* Centra los elementos horizontalmente */
  border-radius: 20px;
  height: 75px;
  align-items: center; /* Centra verticalmente los elementos */
}
.nosotros-button, .mision-footer-button, .padrinos-button{
  cursor: pointer; 
}
.footer-donar{
  cursor: pointer; 
  height: 75px;
  font-size: 60px; /* Ajusta el tamaño del texto de los botones */
  background-color: #FBBB17; 
  padding: 5px 50px; /* Añade espacio en blanco alrededor del texto  x y */
  font-family: 'Pally-blod', sans-serif; /* Aplica la fuente Pally al texto */
  border-radius: 16px;
  color: white;
  
  display:flex;
  align-items: center; /* Centra verticalmente los elementos */

  border: none;

}
.footer-parte2{
  width: 92%;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  margin-top: 5%;
  margin-left: 4%;
}	

.container-contact {
  width: auto;
}
.contact-item {
  display: flex;
  align-items: center; /* Centra verticalmente el ícono y el texto */
  gap: 20px; /* Espacio entre el ícono y el texto */
  font-size: 30px; /* Tamaño del ícono */
  margin-bottom: 1%;
}
.contact-item i {
  font-size: 30px; /* Tamaño del ícono */
  color: white;
}

.social-icons {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  gap: 15px;
  margin-left: auto; /* Ajusta el valor según el espacio que desees */

}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%; /* Hace el fondo circular */
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Color del icono */
  font-size: 60px; /* Tamaño del icono */
  text-decoration: none;
  transition: all 0.3s ease;

}
.icon:hover {
  background-color: #333; /* Fondo al pasar el mouse (azul) */
  color: #fff; /* Icono blanco al pasar el mouse */
}
@media(max-width: 1900px){
  .footer-total{
    width: 100%;
  }
  .footer-buttons {
    font-size: 0.8vw;
  }
  .footer-donar {
    font-size: 3vw;
  }
}

/*----footer--*/
@media (max-width: 1404px) {
  .footer-parte1 {
    display:block;
    
  }
  .footer-logo-container{
    margin: 0 auto; /* Centra el div horizontalmente */
    margin-top: 20px;
    width: 24vw;
  }
  .footer-logo{
    width: 24vw;
    height: auto;
  }
  .footer-buttons {
    border-radius: 10px;
    height: 7vw;
    margin-top: 3%;
    margin-bottom: 4%;

    width: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .footer-donar{
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 1017px) {
  .fomras-botones {
    display: block;
  }
}	
@media (max-width: 888px) {
  .contact-item {
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
  }
  .footer-parte2 {
    display: block;
  }
  .footer-buttons {
    border-radius: 10px;
    height: 7vw;
    margin-top: 3%;
    margin-bottom: 4%;
    font-size: 1vw;

    width: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .footer-donar{
    border-radius: 1vw;
    height: 7vw;
  }
  .contact-item {
    font-size: 3vw; /* Tamaño del texto */
  }
  .contact-item i {
    font-size: 3vw; /* Tamaño del ícono */
  }
  .icon {
    width: 7vw;
    height: 7vw;
    font-size: 4vw; /* Tamaño del icono */
  }

  .container{
    margin-top: 15%; 
  }
  .butonsSocio{
    margin: 5%;
  }
  .footer-logo-container{
    width: 30vw;
    margin-bottom: 4%;
  }
  .footer-logo{
    width: 100%;
    height: auto;
  }
}